<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        {% if title %}
		<title>{{ title }} - Microblog</title>
		{% else %}
		<title>Welcome to Microblog</title>
		{% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>
    <script>
    $(document).ready(function(){
        console.log("Test");
        var next = 1;
        $(".add-more").click(function(e){
          console.log("Test");

            e.preventDefault();
            var addto = "#field";
            var addRemove = "#field" + (next);
            next = next + 1;
            console.log("Test");
            var newIn = '<input autocomplete="off" class="input" id="food' + next + '" name="field' + next + '" type="text">';
            var newIn2 = '<input autocomplete="off" class="input" id="cost' + next + '" name="field' + next + '" type="text">';

            //var newInput = $(newIn);
            // var newInput2 = $(newIn2);
            var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="food">';
            var removeButton = $(removeBtn);
            $(addto).append('<br>');
            $(addto).append(newIn);
      
            $(addto).append(newIn2);
            $(addto).append(this);

            // $(addto).after(newInput2);
            $(addRemove).after(removeButton);
            $("#field" + next).attr('data-source',$(addto).attr('data-source'));
            $("#count").val(next);

                $('.remove-me').click(function(e){
                    e.preventDefault();
                    var fieldNum = this.id.charAt(this.id.length-1);
                    var fieldID = "#field" + fieldNum;
                    $(this).remove();
                    $(fieldID).remove();
                });
        });
    });
    </script>
    </body>
</html>
